*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-container {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    background: #ffffff;
}

.carts-items-container {
    width: 65%;
    height: min-content;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.carts-items-container {
    /* width: 80%; */
    height: min-content;
}

.cart-items {
    width: 80%;
    height: 300px;
    margin: 15px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border: 1px dashed black;
}

.cart-price-details-sec {
    width: 25%;
    height: 300px;
    margin: 15px 0;
    padding: 10px;
    position: sticky;
    top: 30px;
    /* bottom: 50px;     */
    margin-bottom: 10px;

    /* background: #1349e0; */
    border: solid 2px #dbdbdb;
}

.cart-img-container {
    width: 30%;
    height: 100%;
    border-radius: 3px;
    background: #d8d8d8;
}

.cart-img-container img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.cart-prdtdetails-container {
    width: 68%;
    height: 100%;
    /* background: #74c566; */
}

.cart-prdts {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background: tan; */
}

.cart-prtd-txt {
    width: 100%;
    height: 65%;
    /* background: #d24444; */
}
.cart-prdts h2{
    text-align: end;
}
.cart-prdts p {
    color: #676767;
}
.prtd-qnty {
    width: 20%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px #000000;
    /* background: #bcbcbc; */
    border-radius: 6px;
}

.prtd-qnty img{
    height: 50%;
    cursor: pointer;
}


.cart-price-details-sec-inner {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background: #f36f6f; */
}

.cart-price-details-sec-inner-top {
    width: 100%;
    height: 25%;
    /* margin-top: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    /* background: #76fff6; */
}

.checkoutbtn {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;
    align-items: center;
    border: solid 1px rgb(231, 231, 231);
    background: green;
    color: #ffffff;
    font-weight: 700;
}
.checkoutbtn img {
    height: 80%;
}

.clearcartbtn {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;
    align-items: center;
    border: solid 1px rgb(231, 231, 231);
    background: rgb(218, 20, 20);
    color: #ffffff;
    font-weight: 700;
}
.clearcartbtn img {
    height: 80%;
}

.cart-price-details-sec-inner-details-container {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    background: rgb(249, 249, 249);
}