*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-container {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    background: #ffffff;
}

.carts-items-container {
    width: 65%;
    height: min-content;
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
    /* background: #e5e5e5; */
}

.carts-items-container {
    width: 80%;
    height: min-content;
}

.cart-items {
    width: 65%;
    height: 300px;
    margin: 15px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border: 1px dashed black;
}

.cart-price-details-sec {
    width: 30%;
    height: 500px;
    margin: 15px 0;
    background: #1349e0;
}

.cart-img-container {
    width: 30%;
    height: 100%;
    border-radius: 3px;
    background: #d8d8d8;
}

.cart-img-container img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.cart-prdtdetails-container {
    width: 68%;
    height: 100%;
    /* background: #74c566; */
}

.cart-prdts {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background: tan; */
}

.cart-prtd-txt {
    width: 100%;
    height: 65%;
    /* background: #d24444; */
}
.cart-prdts h2{
    text-align: end;
}
.cart-prdts p {
    color: #676767;
}
.prtd-qnty {
    width: 20%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px #000000;
    /* background: #bcbcbc; */
    border-radius: 6px;
}

.prtd-qnty img{
    height: 50%;
    cursor: pointer;
}