*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-container {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    background: #ececec;
}

.carts-items-container {
    width: 65%;
    height: min-content;
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
    /* background: #e5e5e5; */
}

.carts-items-container {
    width: 80%;
    height: min-content;
}

.cart-items {
    width: 65%;
    height: 300px;
    margin: 15px 0;
    padding: 20px;
    background: #e1e1e1;
}

.cart-price-details-sec {
    width: 30%;
    height: 500px;
    margin: 15px 0;
    background: #000;
}

.cart-img-container {
    width: 35%;
    height: 100%;
    border-radius: 3px;
    background: #000;
}

.cart-img-container img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.cart-prdtdetails-container {
    
}