@font-face {
    font-family: 'SST';
    src: url('../../assets/Fonts/Font 2/HelveticaNeueLight.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home-footer-container {
    width: 100%;
    height: 516.74px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.home-footer-container-inner {
    width: 80%;
    height: 519.14px;
    /* background: gray; */
}

.home-footer-container-inner1 {
    width: 100%;
    height: 34%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #6b1c92; */
}

.home-footer-container-inner1-first {
    width: 23%;
    height: 100%;
    padding-right: 10px;
    /* background: #b93c3c; */
}

.home-footer-container-inner1-para {
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: start;
    align-items: end;
    /* background: #2f8bc8; */
}
.home-footer-container-inner1-para p {
    font-size: 16px;
    color: #919598;
    font-family: SST W01 Roman, sans-serif, Helvetica Neue, Helvetica, Arial;   
}

.home-footer-container-inner1-search {
    width: 100%;
    height: 43.2px;
    border: #3c3c42 solid 1px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-footer-container-inner1-search img {
    width: 8%;
}
.home-footer-container-inner1-search input {
    width: 50%;
    height: 70%;
    margin-left: 5px;
    margin-right: 5px;
    font-family: SST W01 Roman, sans-serif, Helvetica Neue, Helvetica, Arial;
    background: #000;
    border: none;
}
.home-footer-container-inner1-search button {
    width: 32%;
    height: 70%;
    background: #2d75c7;
    color: #ffffff;
    border: solid 1px #81acdd;
}


.home-footer-loc-para{
    font-size: 13px;
    margin-top: 10px;
    font-family: SST W01 Roman, sans-serif, Helvetica Neue, Helvetica, Arial;
    color: #efffef;

}