@font-face {
    font-family: 'SST';
    src: url('../../assets/Fonts/Font 2/HelveticaNeueLight.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-recently-viewed {
    width: 100%;
    height: 296.99px;
    display: flex;
    justify-content: center;
    /* background: green; */
}

.home-recently-viewed-inner {
    width: 80%;
    height: 100%;
    /* background: #b19292; */
    transform: scaleY(0.9);
    font-family: SST W01 Roman, sans-serif, Helvetica Neue, Helvetica, Arial;
}
.home-recently-viewed-inner h2 {
    color: #2f353d;
    margin-bottom: 20px;
}

.home-recently-viewed-container {
    width: 100%;
    height: 20%;
}

.home-recently-viewed-container {
    width: 100%;
    height: 85%;
    /* background: #da1111; */
}

.home-recently-viewed-item {
    width: 13%;
    height: 100%;
    /* background: #204d94; */
}
.home-recently-viewed-item p {
    font-size: 12px;
    color: #9999a4;
    padding-top: 10px;
    line-height: 20px;
    
}
.home-recently-viewed-item h2 {
    font-size: 15px;
    margin-top: 16px;
}


.home-recently-viewed-item-img {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f5f9;
}
.home-recently-viewed-item-img img {
    width: 70%;
    object-fit: contain;
}