*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home-footnotes-container {
    width: 100%;
    height: 61px;
    background: #f2f5f9;
}

.home-footnote-inner1 {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
}




