@font-face {
  font-family: 'SST';
  src: url('../../assets/Fonts/SSTMediumCn.TTF');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'SST';
    src: url('../../assets/Fonts/SSTMediumCn.TTF');
}


@font-face {
    font-family: 'SST';
    src: url('../../assets/Fonts/Font 2/HelveticaNeueLight.otf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-latest-container {
  width: 100%;
  height: 820px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background: #000; */
  color: #fff;
  font-family: 'SST', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: visible;
}

.home-latest-inner {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  color: #2f353d;
}
.home-latest-inner h2 {
    font-size: 24px;
    letter-spacing: 1.5px;
    margin-top: 20px;
    transform: scaleY(0.9);
    font-family: 'SST', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #2f353d;
}


.home-latest-sliding-cards {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  background: rgb(190, 42, 42);
}


.home-slide-card-1 {
  background:url(../../assets/TVFY25_XR50-XR55A_HP_4span_D.png);
  background-position: center;
  background-size: contain;
  width: 93.5% !important;
  height: 480px;
  /* color: #272222; */
  display: flex !important;
  align-items: end !important;
  /* justify-content: end !important; */
  
  /* transition: all 0.3s ease; */
}
.home-slide-card-inner {
  width: 100%;
  height: 130px;
  padding: 20px;
  background-color: rgba(243,244,246,.9);
}
.home-slide-card-inner h3 {
  color: #2f353d;
  font-size: 18px;
  transform: scaleY(0.9);
  /* font-family: 'SST', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
}
.home-slide-card-inner-para {
  width: 100%;
  height: 52px;
  font-size: 24px;
}


/* React Slick arrow styles */
.slick-prev:before,
.slick-next:before {
  color: white;
  font-size: 28px;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

/* Dots styling */
.slick-dots li button:before {
  color: #bcbcca;
  font-size: 12px;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: #31353d;
  font-size: 18px;
  /* opacity: 1; */
}
