@font-face {
    font-family: 'SST';
    src: url('../../assets/Fonts/Font 2/HelveticaNeueLight.otf');
}

@font-face {
    font-family: 'SST';
    src: url('../../assets/Fonts/Font 2/HelveticaNeueBold.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home-footer-container {
    width: 100%;
    height: 516.74px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.home-footer-container-inner {
    width: 80%;
    height: 519.14px;
    /* background: gray; */
}

.home-footer-container-inner1 {
    width: 100%;
    height: 34%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #6b1c92; */
}

.home-footer-container-inner1-first {
    width: 23%;
    height: 100%;
    padding-right: 10px;
    /* background: #26157b; */
}

.home-footer-container-inner1-para {
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: start;
    align-items: end;
    /* background: #2f8bc8; */
}
.home-footer-container-inner1-para p {
    font-size: 16px;
    color: #919598;
    font-family: SST W01 Roman, sans-serif, Helvetica Neue, Helvetica, Arial;   
}

.home-footer-container-inner1-search {
    width: 100%;
    height: 43.2px;
    border: #3c3c42 solid 1px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-footer-container-inner1-search img {
    width: 8%;
}
.home-footer-container-inner1-search input {
    width: 50%;
    height: 70%;
    margin-left: 5px;
    margin-right: 5px;
    font-family: SST W01 Roman, sans-serif, Helvetica Neue, Helvetica, Arial;
    background: #000;
    border: none;
}
.home-footer-container-inner1-search button {
    width: 32%;
    height: 70%;
    background: #2d75c7;
    color: #ffffff;
    border: solid 1px #81acdd;
}


.home-footer-loc-para{
    font-size: 13px;
    margin-top: 10px;
    font-family: SST W01 Roman, sans-serif, Helvetica Neue, Helvetica, Arial;
    color: #efffef;

}

.home-footer-container-inner1-para-2 {
    width: 100%;
    height: 16%;
    margin-bottom: 30px;
    display: flex;
    justify-content: start;
    align-items: end;
    /* background: #2f8bc8; */
}
.home-footer-container-inner1-para-2 p {
    font-size: 16px;
    color: #919598;
    font-family: SST W01 Roman, sans-serif, Helvetica Neue, Helvetica, Arial;   
}



.home-footer-container-inner2 {
    width: 100%;
    height: 16%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: green; */
}
.home-footer-container-inner2-left {
    width: 51.64px;
    height: 100%;
    display: flex;
    align-items: end;
}
.home-footer-container-inner2-left button {
    width: 100%;
    height: 41%;
    border: none;
    color: #FFFFFF;
    background: #3c3c42;
}

.home-footer-container-inner2-right {
    width: 68%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    /* background: #d61c1c; */
}
.home-footer-container-inner2-right-upper {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    font-size: 13px;
    /* background: rebeccapurple; */
    color: #e4e7eb;
    list-style: none;
    font-family: SST W01 Roman, sans-serif, Helvetica Neue, Helvetica, Arial;
}

.home-footer-container-inner2-right-social-icons {
    width: 22%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    /* background: yellow; */
}
.home-footer-container-inner2-right-social-icons img {
    background: #3a3a40;
    padding: 0 5px 0 5px;
}

.line {
    width: 100%;
    height: 0.5px;
    margin-top: 40px;
    background: #3c3c42;
    border: none;
}

.home-footer-container-inner3 {
    width: 45%;
    height: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: yellow; */
}
.home-footer-container-inner3-heading {
    width: 100%;
    height: 20%;
    display: flex;
    gap: 20px;
    font-size: 13px;
    color: #f1f1f1;
    font-weight: 700;
    font-family: 'SST', sans-serif;
    transform: scaleX(1);
    transform: scaleY(0.9);
    margin-bottom: 10px;
}
.home-footer-container-inner3 img {
    width: 28%;
    margin-bottom: 5px;
}
.home-footer-copyright-sec {
    color: #878792;
    font-size: 11px;
    font-family: SST W01 Roman, sans-serif, Helvetica Neue, Helvetica, Arial;
    margin-top: 10px;
}

.footerlast-white {
    width: 100%;
    height: 25px;
    background: #FFFFFF;
}