
@font-face {
    font-family: 'SST';
    src: url('../../assets/Fonts/SSTMediumCn.TTF');
}


@font-face {
    font-family: 'SST';
    src: url('../../assets/Fonts/Font 2/HelveticaNeueLight.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-promotions-container {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    /* background: #cc8787; */
}

.home-promotions-inner {
    width: 80%;
    height: min-content;
    /* background: #e0a2a2; */
}
.home-promotions-inner h2 {
    font-size: 24px;
    letter-spacing: 1.5px;
    transform: scaleY(0.9);
    font-family: 'SST', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #2f353d;
    margin-bottom: 30px;
}

.home-promotions-card {
    width: 100%;
    height: 363px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    /* background: #000; */
}

.home-promotion-card-img-1 {
    /* background: green; */
    width: 48.5%;
    height: 100%;
    background-image: url(../../assets/offer-promotions-1.webp);
    background-position: center;
    background-size: cover;
}

.home-promotion-card-img-2 {
    /* background: green; */
    width: 48.5%;
    height: 100%;
    background-image: url(../../assets/offer-promotions-2.webp);
    background-position: center;
    background-size: cover;
}

.home-promotion-card-img-3 {
    /* background: green; */
    width: 48.5%;
    height: 100%;
    background-image: url(../../assets/offer-promotions-3.jpeg);
    background-position: center;
    background-size: cover;
}

.home-promotion-card-img-4 {
    /* background: green; */
    width: 48.5%;
    height: 100%;
    background-image: url(../../assets/offer-promotions-4.jpeg);
    background-position: center;
    background-size: cover;
}

.home-promotion-card-img-5 {
    /* background: green; */
    width: 48.5%;
    height: 100%;
    background-image: url(../../assets/offer-promotions-5.webp);
    background-position: center;
    background-size: cover;
}

.home-promotion-card-img-6 {
    /* background: green; */
    width: 48.5%;
    height: 100%;
    background-image: url(../../assets/offer-promotions-6.jpeg);
    background-position: center;
    background-size: cover;
}

.home-promotion-card-right {
    width: 51.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f5f9;
    display: flex;
}
.home-promotion-card-right-inner {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-promotion-card-heading {
    width: 85%;
    font-size: 30px;
    font-family: SST W01 Roman, sans-serif, Helvetica Neue, Helvetica, Arial;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.64px;
    color: #2f353d;
}

.home-promotion-card-paragraph {
    width: 85%;
    color: #6b6b7b;
    font-size: 15px;
    margin-top: 10px;
    font-family: SST W01 Roman, sans-serif, Helvetica Neue, Helvetica, Arial;
}

.promotion-arrow {
    width: 4%;
}