@font-face {
    font-family: 'SST';
    src: url('../../assets/Fonts/Font 2/HelveticaNeueLight.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-recently-viewed {
    width: 100%;
    height: 296.99px;
    display: flex;
    justify-content: center;
    background: green;
}

.home-recently-viewed-inner {
    width: 80%;
    height: 200px;
    background: #b19292;
    font-family: SST W01 Roman, sans-serif, Helvetica Neue, Helvetica, Arial;
}

.home-recently-viewed-container {
    width: 100%;
    height: 20%;
}